.TextLogo {
  display: flex;
  position: relative;
  top: 25px;
}

.Receipt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
  position: absolute;
  width: 1000px;
  height: 1500px;
  background-color: #fff;
  z-index: 9999;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ReceiptContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 3px solid #c0abd2;
  border-radius: 20px;
  width: auto; /* change this line */
  height: auto; /* change this line */
  min-width: 500px; /* add this line */
  min-height: 500px;
  gap: 30px;
  margin: 50px 0;

  padding: 30px;
}

.ReceiptTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 50px;
  /* height: 100px; */
  /* margin: 25px; */
  order: 1;
}

.ReceiptBody {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 350px;

  order: 2;
}

.MenuContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 360px;
  overflow-y: scroll;
  gap: 10px;
  font-size: 35px;
  font-weight: 400;

  &::-webkit-scrollbar {
    display: none;
  }
}
.PaymentContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #fff;
  font-size: 27px;
  font-weight: 200;
  gap: 10px;
}

.Menu {
  display: flex;
  flex-shrink: 0;
}

.MessagesContainer {
  position: relative;
  top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  font-size: 20px;
  font-weight: 400;
  gap: 25px;
}

.Messages {
  text-align: center;
  width: 680px;
  line-height: 50px;
  font-size: 37px;
  font-weight: 300;
}

span {
  color: #7c51a1;
  font-weight: 700;
}

.Timer {
  color: #7c51a1;
  font-size: 35px;
  font-weight: 700;
}
