.OrderModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding: 50px;
  top: 350px;
  width: 700px;
  height: 450px;
  background-color: white;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 30px;
  z-index: 9999;
  opacity: 1;
  animation: fadeIn 0.8s forwards;
}

.Upper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.Lower {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100px;
}

/* display: flex;
position: relative;
flex-direction: column;
flex-shrink: 0;
align-items: center;
justify-content: center;
gap: 15px;
font-size: 22px;
font-weight: 100;
width: 350px;
height: 350px;
border: 2px solid #d5d5d5;
border-radius: 20px;
background-color: #ffffff;
margin: 25px 25px; */

.Menu {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 100;
  width: 300px;
  height: 300px;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 20px;
  background-color: white;
  transform: scale(1);
  transition: transform 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Menu img {
  width: 192px;
  height: 192px;
}

.MenuName {
  font-size: 25px;
  font-weight: 100;
}

.MenuPrice {
  font-size: 20px;
  font-weight: 300;
}

.Options {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: white;
}

.OptionButtons {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.Buttons {
  position: relative;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 60px;
  border: 2px solid rgb(213, 213, 213);

  border-radius: 20px;
  color: white;
}

.SelectedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 60px;
  border: 4px solid #c179ff;

  border-radius: 20px;
  color: white;
}

.ButtonText {
  font-size: 20px;
  font-weight: 700;
}

.QuantityControl {
  display: flex;
  justify-content: space-evenly;

  align-items: center;
  gap: 10px;
  width: 200px;
  height: 60px;

  background-color: white;
  font-size: 30px;
}

.Minus,
.Plus {
  display: flex;
  font-size: 50px;
  font-weight: 100;
  cursor: pointer;
}

.Quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 50%;
  border: 1px solid #8b8b8b;
}

.CloseButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #8b8b8b;
  left: 770px;
  top: -20px;
  background-color: white;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}


.AddToCartButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 80px;
  font-size: 20px;
  font-weight: 100;
  border-radius: 20px;
  border: 2px solid rgb(213, 213, 213);
  background-color: white;
  font-size: 25px;
  font-weight: 700;
  color: white;
  background-color: #c0abd2;
  cursor: pointer;
}

.Completed {
  background-color: #7c51a1;
}

.fade-enter {
  transform: translate(-300%, 150%) scale(0.3);
  /* scale(0.2); */
  opacity: 0;
  transition: opacity 1500ms, transform 700ms;
  /* animation: fade-spin-translate 1s forwards; */
}

@keyframes fade-spin-translate {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  75% {
    transform: translate(262.5%, -262.5%) rotate(270deg);
    opacity: 1;
  }
  100% {
    transform: translate(350%, -350%) rotate(360deg);
    opacity: 0;
  }
}

.fade-enter-active {
  transform: translateY(0);
  opacity: 1;
}

.fade-exit {
  transform: translateY(0);
  opacity: 1;
}

.fade-exit-active {
  transform: translateY(150%);
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

.zoomed {
  transform: scale(1.3);
}
