.CardPaymentLoading {
  position: absolute;
  background-image: url("https://www.svgrepo.com/show/110447/loading.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 500px;
  z-index: 9999;
  top: 500px;
  animation: spin 3s infinite linear; /* spin 애니메이션 적용 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
