.MenuArea {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  opacity: 1;
  animation: fadeIn 1s;

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Menu {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 22px;
  font-weight: 100;
  width: 350px;
  height: 350px;
  border: 3px solid #c0abd2;
  border-radius: 20px;
  background-color: #ffffff;
  margin: 25px 25px;
  color: #575757;
  cursor: pointer;
}

.Menu img {
  width: 225px;
  height: 225px;
  object-fit: cover;
}

.MenuName {
  font-size: 25px;
  font-weight: 400;
}

.MenuPrice {
  font-size: 25px;
  font-weight: 500;
}

.fade-enter {
  transform: translateY(150%);
  opacity: 0;
  transition: opacity 1200ms, transform 700ms;
}

.fade-enter-active {
  transform: translateY(0);
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  animation: fadeIn 1s;
}

.fade {
  transform: translateY(0);
  opacity: 1;
  animation: fadeIn 2s;
}

.fade-exit-active {
  transform: translateY(150%);
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

.StarMark {
  position: absolute;
  left: -40px;
  top: -40px;
  font-size: 100px;
  color: rgb(255, 245, 65);
}

.zoomed {
  transform: scale(1.1);
  /* font-size: 25px; */
}
